extends layout

block content
  h1= title

  form(method="POST")
    label(for="name") Name
      input#name(type="text" name="name" required value=(category ? category.name : ''))
    label(for="description") Description
      textarea#description(name="description")= (category ? category.description : '')
    if protected
      hr
      label(for="password") Password
        input#password(type="password" name="password" required)
    button(type="submit") Save

  if errors
    h2(style="text-align: start") Errors
    ul
      for error in errors
        li= error.msg
