extends layout

block content
  h1= title

  form(method="POST")
    label(for="name") Name
      input#name(type="text" name="name" required)
    label(for="description") Description
      textarea#description(name="description")
    button(type="submit") Create
