doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
  body
    block header
      header
        a.logo(href='/') Logo

        block nav
          nav
            ul
              li
                a(href='/category/list') Categories
              li
                a(href='/item/list') Products

    main
      block content
